<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Creation</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.2.0/css/bootstrap.min.css"/>
    <style>
        body {
            padding: 20px;
        }

        form {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Books List</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header>
    <h1>Book Creation - Thymeleaf</h1>
</header>
<main>
    <form th:action="@{saveBook}" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="mb-3">
            <label for="ISBN" class="form-label">ISBN:</label>
            <input type="text" class="form-control" id="ISBN" name="ISBN">
        </div>
        <div class="mb-3">
            <label for="publisher" class="form-label">Publisher:</label>
            <input type="text" class="form-control" id="publisher" name="publisher">
        </div>
        <div class="mb-3">
            <label for="designationBook" class="form-label">Designation:</label>
            <input type="text" class="form-control" id="designationBook" name="designationBook">
        </div>
        <div class="mb-3">
            <label for="datePublishing" class="form-label">Date of Publishing:</label>
            <input type="date" class="form-control" id="datePublishing" value="${now}" name="datePublishing">
        </div>
        <div>
            <input type="submit" value="Save" class="btn btn-primary">
        </div>
    </form>
    <div style="display: flex; justify-content: center; margin-bottom: 20px;">
        <a href="BooksList" class="btn btn-success">Books List</a>
    </div>


</main>
<footer class="footer bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-left">
                <p>&copy; 2023 Book Site. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">Home</a></li>
                    <li class="list-inline-item"><a href="#">Books</a></li>
                    <li class="list-inline-item"><a href="#">About</a></li>
                    <li class="list-inline-item"><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap JS -->
<script src="webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js"></script>
