
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reviews List - ThymeLeaf</title>
</head>
<body>
<header>
    <h1>Reviews List</h1>
</header>
<main>
    <table>
        <tr>
            <th>Review ID</th>
            <th>Date</th>
            <th>Rating</th>
            <th>Comments</th>
        </tr>
            <tr th:each="review:${reviewsJsp}">
                <td th:text="${review.idReview}"></td>
                <td th:text="${review.dateCreate}" }></td>
                <td th:text="${review.rating}" }></td>
                <td th:text="${review.reviewComments}" }></td>

                <td><a onClick="return confirm('Are you delete this item')" th:href="@{deleteReview(id=${review.idReview})}">DELETE </a></td>
                <td><a onClick="return confirm('Are you sure you want to update this item?')" th:href="@{showReview(id=${review.idReview})}">Update</a></td>
            </tr>
    </table>
</main>
<footer>
    <a href="createReview">Create Review</a>
</footer>
</body>
</html>
