<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.ultraq.net.nz/thymeleaf-extras-springsecurity6"
>
<head>
    <meta charset="UTF-8">
    <title>Authors Management</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.5/font/bootstrap-icons.css">
<!--    <script src="/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js"></script>-->
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{MainBook}">Home</a>
        </li>
        <!--    Author dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" >Authors</a>
            <ul class="dropdown-menu">
                <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <a class="dropdown-item" th:href="@{createAuthor}">New</a>
                </li>
                <li>
                    <a class="dropdown-item" th:href="@{authorsList}">List</a>
                </li>
            </ul>
        </li>
    </ul>
    <!--    Publishing House dropdown -->
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" >Publishing Houses</a>
            <ul class="dropdown-menu">
                <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                <a class="dropdown-item" th:href="@{createPubHouse}">New</a>
                </li>
                <li><a class="dropdown-item" th:href="@{pubHousesList}">List</a></li>
            </ul>
        </li>
    </ul>
<!--    User-->
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" th:text="${#authentication.name}">username</a>
            <ul class="dropdown-menu">
                <li>
                    <a sec:authorize="!isAuthenticated()" class="dropdown-item" th:href="/login">login</a>
                </li>
                <li>
                    <form method="post" th:action="@{/logout}">
                        <button sec:authorize="isAuthenticated()" class="dropdown-item" type="submit">logout</button>

                    </form>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Profile</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">&ndash;&gt;-->
<!--                <div class="container">-->
<!--                    <a class="navbar-brand" href="#">Author</a>-->
<!--                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"-->
<!--                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                        <span class="navbar-toggler-icon"></span>-->
<!--                    </button>-->
<!--                    <div class="collapse navbar-collapse" id="navbarNav">-->
<!--                        <ul class="navbar-nav ml-auto">-->
<!--&lt;!&ndash;                            <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                                <a class="nav-link" href="booksList">Book</a>&ndash;&gt;-->
<!--&lt;!&ndash;                            </li>&ndash;&gt;-->
<!--                            <li class="nav-item">-->
<!--                                <a class="nav-link" href="pubHousesList">Publishing House</a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a class="nav-link" href="authorsList">Author</a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a class="nav-link" href="usersList">User</a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </nav>-->

<div layout:fragment="content">

</div>

<footer class="bg-dark text-white text-center py-3">
                <p>&copy; 2023 BookTopia. All rights reserved.</p>
            </footer>
<!--<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>-->
<!--<script src="/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js"></script>-->
</body>
</html>

